div{
    width: 200px;
    height: 200px;
    border: 1px solid burlywood;
    border-radius: 100%;
    background-image: url("https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/41046573_10156297827565709_2864836309912911872_n.jpg?_nc_cat=109&_nc_ht=scontent-nrt1-1.xx&oh=e053631d127d17243d9b9937edd4acef&oe=5C697858");
    /*background-size: cover;*/
    display: inline-block;
    box-sizing: border-box;

}

img{
    border: 10px inset royalblue;
    width: 200px;
    box-sizing: border-box;
}

.one{
    border: 10px double firebrick;
}
