html {
    background-color: darkblue;
}

body {
    background-color: darkred;
    border: 3px solid white;
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

img {
    height: 300px;
    width: 400px;
    margin: 10px auto;
    border-radius: 100%;
    border: 3px groove silver;
    display: block;
}

div {
    margin: 50px;
    display: block;
}

#prime {
    font-weight: 800;
    font-size: 30px;
    color: white;
}

div h2 {
    font-weight: 800;
    font-size: 30px;
    color: whitesmoke;
}