html {
    font-size: 1vw;
}

html, body, form, label, input {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid royalblue;
    padding: 10px;
    border-radius: 1px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    font-size: 4rem;
    margin-top: 4px;
    border: 1px solid firebrick;
}
[type=submit] {
    margin-top: 10px;
    border: 1px solid firebrick;
}

[type=submit]:hover {
    background-color: white;
}

[type=submit]:focus {
    background-color: royalblue;
}

input:required  {
    border: 1px solid black;
    background-color: rgba(255, 182, 193, 0.13);
}